<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <title>Wildlife MVC</title>
</head>
<body>
    <p>
        @ViewBag.Description
    </p>
    <table>
        <tr>
            <td>@Html.ActionLink("Home", "HomePage", "Home") || </td>
            <td>@Html.ActionLink("Species Index", "Index", "Species") || </td>
            <td>@Html.ActionLink("Sightings", "SightingsIndex", "Sightings") </td>
        </tr>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>
