<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <p>
        @ViewBag.Description
    </p>
    <table>
        <tr>
            <td>@Html.ActionLink("Home", "HomePage", "Home") || </td>
            <td>@Html.ActionLink("Species Index", "Index", "Species") || </td>
            <td>@Html.ActionLink("Sightings", "SightingsIndex", "Sightings") </td>
        </tr>
    </table>
    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.5.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
</body>
</html>
