<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <title>Wildlife MVC</title>
    <style>
        body {
            background-color: #dcdcdc;
        }
        .rounded-top {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .rounded-bottom {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .full-width-content {
            width: 100vw; 
            margin-left: calc(-50vw + 50%);
            margin-right: calc(-50vw + 50%);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("HomePage", "Home")">Wildlife</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="@Url.Action("HomePage", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="@Url.Action("Index", "Species")">Species</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="@Url.Action("SightingsIndex", "Sightings")">Sightings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2 class="mt-2">@ViewBag.Header</h2>
        <p class="lead"> @ViewBag.Description</p>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
