@model WildlifeMVC.Models.Species

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { })
<div class="container">

    <h1>Add A Species</h1>

    <div class="mb-3">
        @Html.LabelFor(model => model.EnglishName, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "255", pattern = "[a-zA-Z ]*", title = "Only letters are allowed." } })
        @Html.ValidationMessageFor(model => model.EnglishName, "", new { @class = "form-text" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.LatinName, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.LatinName, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "255", pattern = "[a-zA-Z ]*", title = "Only letters are allowed." } })
        @Html.ValidationMessageFor(model => model.LatinName, "", new { @class = "form-text" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" }, required = "required", maxlength = "500" })
        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "form-text" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.LongDescription, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" }, required = "required", maxlength = "5000" })
        @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "form-text" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.ImageURL, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "1000" } })
        @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "form-text" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.VideoURL, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.VideoURL, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "1000" } })
        @Html.ValidationMessageFor(model => model.VideoURL, "", new { @class = "form-text" })
    </div>
    <button type="submit" value="Create" class="btn btn-primary">Create</button>
    <div class="mt-3">
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
}

