@model WildlifeMVC.Models.Species

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Species Info";
    ViewBag.Description = "Information about the species";
}
<hr />
<div class="container rounded" style="background-color: #f5fcff; padding: 20px;">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.EnglishName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EnglishName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LatinName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LatinName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LongDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LongDescription)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div style="max-width: 100%; height: auto; width: 800px">
                <img class="img-fluid rounded-top" src="@Url.Content(Model.ImageURL ?? "~/Content/fox.jpg")" alt="Image">
            </div>
            @if (ViewBag.FallbackContent != null)
            {
                <div>@ViewBag.FallbackContent</div>
            }
            else
            {
                <div class="ratio ratio-16x9">
                    <iframe class="rounded-bottom" src="@Model.VideoURL" title="YouTube Video" allowfullscreen"></iframe>
                </div>
            }
        </div>
    </div>
    <p>
        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@Url.Action("Edit",  new { name = Model.EnglishName.Replace(" ", "-"), id = Model.ID })">Edit |</a>
        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@Url.Action("Index")">Back to List</a>
    </p>
</div>
