@model IEnumerable<WildlifeMVC.Models.Species>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "This Is The Species Main Page Description";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EnglishName) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatinName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
@*        <th>
            @Html.DisplayNameFor(model => model.LongDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="padding-right: 20px;">
            @Html.DisplayFor(modelItem => item.EnglishName)
        </td>
        <td style="padding-right: 20px;">
            @Html.DisplayFor(modelItem => item.LatinName)
        </td>
        <td style="padding-right: 20px;">
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
@*        <td style="padding-right: 20px;">
            @Html.DisplayFor(modelItem => item.LongDescription)
        </td>
        <td style="padding-right: 20px;">
            @Html.DisplayFor(modelItem => item.ImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoURL) 
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { name = HttpUtility.UrlEncode(item.EnglishName), id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { name=HttpUtility.UrlEncode(item.EnglishName), id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new {  name=HttpUtility.UrlEncode(item.EnglishName), id=item.ID })
        </td>
    </tr>
}

</table>
