@model IEnumerable<WildlifeMVC.Models.Species>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "This is a list of all recorded species";
    ViewBag.Header = "Species List";
}


<a href="@Url.Action("Create")" class="btn btn-outline-secondary">Create New Entry</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EnglishName) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatinName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EnglishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatinName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            <a class="link-primary" href="@Url.Action("Edit",  new { name = item.EnglishName.Replace(" ", "-"), id = item.ID })">Edit</a>
            <a class="link-primary" href="@Url.Action("Details",  new { name = item.EnglishName.Replace(" ", "-"), id = item.ID })">Details</a>
            <a class="link-primary" href="@Url.Action("Delete",  new { name = item.EnglishName.Replace(" ", "-"), id = item.ID })">Delete</a>
        </td>

    </tr>
}

</table>
