@model WildlifeMVC.ViewModels.SightingViewModel

@{
    ViewBag.Title = "CreateSighting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Record A Sighting";
    ViewBag.Description = "Please give as much detail as possible";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                @Html.LabelFor(model => model.SpeciesID, htmlAttributes: new { @class = "form-label" })
                @Html.DropDownListFor(model => model.SpeciesID, Model.SpeciesList, "Select a Species", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.SpeciesID, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.XCoordinate, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.XCoordinate, new { htmlAttributes = new { @class = "form-control", type = "number", step = "any", required = "required", min = "-99", max = "99" } })
                @Html.ValidationMessageFor(model => model.XCoordinate, "", new { @class = "form-text" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.YCoordinate, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.YCoordinate, new { htmlAttributes = new { @class = "form-control", type = "number", step = "any", required = "required", min = "-99", max = "99" } })
                @Html.ValidationMessageFor(model => model.YCoordinate, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.TimeStamp, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.TimeStamp, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                @Html.ValidationMessageFor(model => model.TimeStamp, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", maxlength = "2500" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", maxlength = "255" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "form-label" })
                @Html.DropDownListFor(model => model.County, (SelectList)ViewBag.Counties, "Select a County", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.County, "", new { @class = "form-text" })
            </div>
        </div>

        <div class="col-md-6">
            <div id="map" style="height: 600px;"></div>
        </div>

    </div>
    <div class="mt-3">
        <button type="submit" value="Create" class="btn btn-primary">Create</button> |
        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@Url.Action("SightingsIndex")">Back to Sightings</a>
    </div>
</div>
}

<script>
    //using the Leaflet library to create an interactive map for sightings

    //set default map view location on load
    let map = L.map('map').setView([53.4, -7.62451], 7);

    //get map layer from OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    let marker; //placeholder for map marker

    //add on-click event to map, as per Leaflet documentation
    map.on('click', function (e) {
        //get the latitude and longitude of the click
        let lat = e.latlng.lat;
        let lng = e.latlng.lng;

        //update the form values
        document.getElementById('XCoordinate').value = lat.toFixed(5);
        document.getElementById('YCoordinate').value = lng.toFixed(5);

        if (marker) {
            // if marker exists, move to new location that was clicked on
            marker.setLatLng(e.latlng);
        } else {
            // instatiate a marker if none exists yet and move to new location
            marker = L.marker(e.latlng).addTo(map);
        }
    });

    //update the marker's position if a user manually enters the cooridantes into the form inputs
    //using even listener
    let latInput = document.getElementById('XCoordinate');
    let longInput = document.getElementById('YCoordinate');

    latInput.addEventListener('change', function () {
        handleInputChange();
    });

    longInput.addEventListener('change', function () {
        handleInputChange();
    });

    function handleInputChange() {
        let lat = latInput.value;
        let lng = longInput.value;
        let newLatLang = new L.LatLng(lat, lng); //create a new latlng object, as per leaflet docs

        if (marker) {
            //set coords if marker exists
            marker.setLatLng(newLatLang);
        }
        else {
            //instantiate marker if none exists
            marker = L.marker(newLatLang).addTo(map);
        }
    }

</script>