@model WildlifeMVC.ViewModels.SightingViewModel

@{
    ViewBag.Title = "CreateSighting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Record A Sighting";
    ViewBag.Description = "Please give as much detail as possible";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                @Html.LabelFor(model => model.SpeciesID, htmlAttributes: new { @class = "form-label" })
                @Html.DropDownListFor(model => model.SpeciesID, Model.SpeciesList, "Select a Species", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.SpeciesID, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.XCoordinate, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.XCoordinate, new { htmlAttributes = new { @class = "form-control", type = "number", step = "any", required = "required", min = "-99", max = "99" } })
                @Html.ValidationMessageFor(model => model.XCoordinate, "", new { @class = "form-text" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.YCoordinate, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.YCoordinate, new { htmlAttributes = new { @class = "form-control", type = "number", step = "any", required = "required", min = "-99", max = "99" } })
                @Html.ValidationMessageFor(model => model.YCoordinate, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.TimeStamp, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.TimeStamp, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                @Html.ValidationMessageFor(model => model.TimeStamp, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", maxlength = "2500" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", maxlength = "255" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "form-text" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control", maxlength = "50", pattern = "[a-zA-Z ]*", title = "Only letters are allowed." } })
                @Html.ValidationMessageFor(model => model.County, "", new { @class = "form-text" })
            </div>

            <button type="submit" value="Create" class="btn btn-primary">Create</button>

        </div>

        <div class="col-md-6">
            <div id="map" style="height: 600px;"></div>
        </div>

    </div>
    <div class="mt-3">
        @Html.ActionLink("Back to Sightings", "SightingsIndex")
    </div>
</div>
}

<script>
    var map = L.map('map').setView([53.4, -7.62451], 7);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker;

    map.on('click', function (e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;

        // Populate the coordinate fields
        document.getElementById('XCoordinate').value = lat.toFixed(5);
        document.getElementById('YCoordinate').value = lng.toFixed(5);

        if (marker) {
            // Move the existing marker to the new location
            marker.setLatLng(e.latlng);
        } else {
            // Create a new marker and add it to the map
            marker = L.marker(e.latlng).addTo(map);
        }
    });
</script>