@model WildlifeMVC.ViewModels.SightingDetailsViewModel

@{
    ViewBag.Title = "SightingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Sighting Details";
    ViewBag.Description = "Detailed info about the sighting";
}


<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SpeciesName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SpeciesName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.XCoordinate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.XCoordinate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.YCoordinate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.YCoordinate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeStamp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.County)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.County)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div id="map" style="height: 500px;"></div>
        </div>
    </div>
</div>
<p>
    <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@Url.Action("UpdateSighting",  new { id = Model.ID })">Edit |</a>
    <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@Url.Action("DeleteSighting",  new { id = Model.ID })">Delete |</a>
    <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@Url.Action("SightingsIndex")">Back to Sightings</a>
</p>

<script>
    var currentLat = parseFloat(@Html.Raw(Json.Encode(Model.XCoordinate)));
    var currentLng = parseFloat(@Html.Raw(Json.Encode(Model.YCoordinate)));

    var map = L.map('map').setView([currentLat, currentLng], 7);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker = L.marker([currentLat, currentLng]).addTo(map);
</script>
