@model IEnumerable<WildlifeMVC.ViewModels.SightingDetailsViewModel>

@{
    ViewBag.Title = "SightingsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Here can be found a list of all sightings and an interactive map";
    ViewBag.Header = "Wildlife Sightings";
}

<a href="@Url.Action("CreateSighting")" class="btn btn-outline-success mb-3" style="font-weight: bold;">Record New Sighting</a>
<div class="full-width-content" style="padding: 20px;">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover table-light">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SpeciesName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeStamp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.County)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpeciesName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeStamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.County)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "UpdateSighting", new { id = item.ID }) |
                                @Html.ActionLink("Details", "SightingDetails", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "DeleteSighting", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div id="map" style="height: 600px;"></div>
        </div>
    </div>
</div>


<script>
    var map = L.map('map').setView([53.29, -7.77], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    var sightings = @Html.Raw(Json.Encode(Model));
    sightings.forEach(function(sighting) {
        var lat = parseFloat(sighting.XCoordinate);
        var lng = parseFloat(sighting.YCoordinate);
        var marker = L.marker([lat, lng]).addTo(map);
        var timestamp = parseInt(sighting.TimeStamp.substr(6));
        var date = (new Date(timestamp)).toDateString();
        var popupContent =
            "<b>Species:</b> " + sighting.SpeciesName + "<br>" +
            "<b>Location:</b> " + sighting.Location + "<br>" +
            "<b>Date:</b> " + date + "<br>" +
            "<b>Description:</b> " + sighting.Description;
        marker.bindPopup(popupContent);
        marker.on('mouseover', function (e) {
            this.openPopup();
        });
        marker.on('mouseout', function (e) {
            this.closePopup();
        });
        marker.on('click', function (e) {
            window.location.href = 'SightingInfo/' + sighting.ID;
        });
    });
</script>