@model IEnumerable<WildlifeMVC.ViewModels.SightingDetailsViewModel>

@{
    ViewBag.Title = "SightingsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "This Is The Sightings Page Description";
}

<h2>Sightings</h2>
<p>
    @Html.ActionLink("Record New Sighting", "CreateSighting")
</p>
<table class="table">
    <tr>
        @*        <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SpeciesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XCoordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YCoordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*      <td style="padding-right: 20px;">
                    @Html.DisplayFor(modelItem => item.ID)
                </td>*@
            <td style="padding-right: 20px;">
                @Html.DisplayFor(modelItem => item.SpeciesName)
            </td>
            <td style="padding-right: 20px;">
                @Html.DisplayFor(modelItem => item.XCoordinate)
            </td>
            <td style="padding-right: 20px;">
                @Html.DisplayFor(modelItem => item.YCoordinate)
            </td>
            <td style="padding-right: 20px;">
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td style="padding-right: 20px;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="padding-right: 20px;">
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateSighting", new { id = item.ID }) |
                @Html.ActionLink("Details", "SightingDetails", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteSighting", new { id = item.ID })
            </td>
        </tr>
    }
</table>

<div id="map" style="height: 400px; width: 400px;"></div>

<script>
    var map = L.map('map').setView([53.29, -7.77], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    var sightings = @Html.Raw(Json.Encode(Model));
    sightings.forEach(function(sighting) {
        var lat = parseFloat(sighting.XCoordinate);
        var lng = parseFloat(sighting.YCoordinate);
        var marker = L.marker([lat, lng]).addTo(map);
        var timestamp = parseInt(sighting.TimeStamp.substr(6)); 
        var date = (new Date(timestamp)).toDateString();
        var popupContent =
            "<b>Species:</b> " + sighting.SpeciesName + "<br>" +
            "<b>Location:</b> " + sighting.Location + "<br>" +
            "<b>Date:</b> " + date + "<br>" +
            "<b>Description:</b> " + sighting.Description;
        marker.bindPopup(popupContent);
        marker.on('mouseover', function (e) {
            this.openPopup();
        });
        marker.on('mouseout', function (e) {
            this.closePopup();
        });
    });
</script>