@model WildlifeMVC.ViewModels.HomeViewModel

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mt-2 brand-logo">
    Wildlife DB
    <i class="fa-solid fa-clover"></i>
</h2>
<p class="lead">The place for wildlife info and sightings</p>
<hr />
<div class="container" style="max-width: 1000px; padding-bottom:15px">
    <div id="carouselExampleFade" class="carousel slide carousel-fade mb-3" data-bs-ride="carousel">
        <div class="carousel-inner">
            @{
                int index = 0;
            }
            @foreach (var item in Model.SpeciesList)
            {
                string url = Url.Action("Details", "Species", new { name = "Fox", id = item.ID });
                <div class="carousel-item @(index == 0 ? "active" : "")">
                    <img src="@Url.Content(item.ImageURL ?? "~/Content/fox.jpg")" class="d-block w-100"  style="max-height: 600px;">
                    <div class="carousel-caption d-none d-md-block" style="background-color: rgb(106, 119, 134, 0.50);">
                        <a href="@url" class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                            <h5>@Html.DisplayFor(modelItem => item.EnglishName)</h5>
                        </a>
                        <p>
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                            <a href="@url" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> Click here to find out more.</a>
                        </p>
                    </div>
                </div>
                index++;
            }
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div id="map" style="height: 600px;"></div>

</div>

<script>
    var map = L.map('map').setView([53.29, -7.77], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    var sightings = @Html.Raw(Json.Encode(Model));
    sightings.SightingsList.forEach(function(sighting) {
        var lat = parseFloat(sighting.XCoordinate);
        var lng = parseFloat(sighting.YCoordinate);
        var marker = L.marker([lat, lng]).addTo(map);
        var timestamp = parseInt(sighting.TimeStamp.substr(6));
        var date = (new Date(timestamp)).toDateString();
        var popupContent =
            "<b>Species:</b> " + sighting.SpeciesName + "<br>" +
            "<b>Location:</b> " + sighting.Location + "<br>" +
            "<b>Date:</b> " + date + "<br>" +
            "<b>Description:</b> " + sighting.Description;
        marker.bindPopup(popupContent);
        marker.on('mouseover', function (e) {
            this.openPopup();
        });
        marker.on('mouseout', function (e) {
            this.closePopup();
        });
        marker.on('click', function (e) {
            window.location.href = 'Sightings/SightingInfo/' + sighting.ID;
        });
    });
</script>